apiVersion: apps/v1
kind: Deployment
metadata:
  name: servian-app
  labels:
    app: servian-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: servian-app
  template:
    metadata:
      labels:
        app: servian-app
    spec:
      containers:
        - name: servian-app
          image: servian/techchallengeapp:$IMAGE_VERSION
          ports:
            - containerPort: 3000
          command: ["./TechChallengeApp", "serve"]
          envFrom:
            - configMapRef:
                name: servian-app-config
            - secretRef:
                name: servian-app-secrets
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
